*[^.]*
!*.*
*.exe
!*/
.vscode/
.vscode/tasks.json
/Tema 2/Ejercicio_4/target/
/Tema 2/Ejercicio_5/target/
/Tema 2/Ejercicio_8/target/
/Tema 2/Ejercicio_7/target/
/Tema 2/Ejercicio_9/target/
/Tema 2/Ejercicio_10/target/
/Tema 2/Ejemplo_1_WaitNotify/target/
/Tema 2/Ejercicio_12/target/
/Tema 2/Ejercicio_14/target/
/Tema 3/Ejercicio_6/target/
/Tema 3/Ejercicio_10/target/
